* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 15px;
  font-size: 20px;
  background-color: #222;
}

.brand {
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 15px;
  text-transform: capitalize;
}
.firstname {
  color: white;
  font-weight: 700;
}

.lastname {
  color: crimson;
  font-weight: 400;
  padding-left: 4px;
}

.navigasi {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
}

.navigasi li {
  list-style-type: none;
  padding: 15px;
}

.navigasi li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  text-transform: capitalize;
}

.navigasi li a:hover {
  color: crimson;
  transition: all 0.6s ease-in-out;
}

#Home {
  width: 99vw;
  height: 93vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.search-box {
  position: absolute;
  margin-top: 20px;
  top: 0;
  width: 50vw;
  z-index: 1;
  align-items: center;
  background-color: aliceblue;
  padding: 8px 16px;
  border-radius: 40px;
}
.search-box .search-icon {
  font-size: 1.18rem;
  color: blanchedalmond;
}

.search-box .search-icon {
  transition: 0.5s;
}

.search-input .input {
  border: none;
  outline: none;
  background-color: unset;
  padding: 8px;
}

.display {
  margin-top: 60px;
  width: 80vw;
  padding-left: 15%;
  height: 80vh;
}
.card {
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 16px;
  margin: 16px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  display: inline-block;
  vertical-align: top;
  box-shadow: #666;
}
.card img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px; /* Atur lebar gambar sesuai kebutuhan */
  height: 200px; /* Atur tinggi gambar sesuai kebutuhan */
  object-fit: cover; /* Menghindari perubahan aspek rasio gambar */
}

#pesan {
  width: 99vw;
  height: 93vh;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.container {
  width: 50vw;
  height: 60vh;
}
select {
  border-color: #222;
  border-radius: 10px;
  margin-bottom: 10px;
}
label {
  font-weight: 700px;
}

#nama {
  padding: 5px;
  border-color: #222;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}
#no_hp {
  padding: 5px;
  border-color: #222;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}
#lama {
  padding: 5px;
  border-color: #222;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}

#pesan_motor {
  margin-top: 50px;
  border-radius: 10px;
  border-color: #ccc;
  background-color: #666;
  color: whitesmoke;
  font-size: 20px;
  width: 70%;
  height: 40px;
  font-weight: 700;
}

select {
  width: 100%;
  height: 30px;
}

#footer {
  display: flex;
  justify-content: space-between;
  height: 32vh;
  padding: 15px;
  font-size: 20px;
  background-color: #222;
  color: #ccc;
}

.contact {
  display: flex;
  flex-direction: row;
  font-size: 20px;
  margin-left: 5%;
}

.contact ul li {
  padding-top: 10px;
  padding-left: 15px;
  list-style: none;
}

h2 {
  color: #333;
  font-size: 18px;
}
p {
  color: #666;
  font-size: 14px;
}

.coment {
  width: 30vw;
}

#pengunjung {
  padding: 5px;
  border-color: #222;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}
#no_hp2 {
  padding: 5px;
  border-color: #222;
  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}
#email {
  padding: 5px;
  border-color: #222;

  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}
#coment {
  padding: 5px;
  border-color: #222;

  margin-bottom: 10px;
  width: 100%;
  height: 25px;
}
#kirim {
  border-color: #ccc;
  background-color: #666;
  border-radius: 10px;
  color: whitesmoke;
  font-size: 20px;
  width: 30%;
  height: 40px;
  font-weight: 700;
}

.container_php {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  background-color: lightgray;
}

.content {
  width: 40vw;
  height: 20vh;
  text-align: center;
}

button {
  margin: 20px;
  border-radius: 10px;
  border-color: #ccc;
  background-color: #666;
  color: whitesmoke;
  font-size: 20px;
  width: 100px;
  height: 40px;
  font-weight: 700;
}
