* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.brand {
  margin-left: 5%;
  display: flex;
  flex-direction: row;
  font-size: 1.5em;
  padding: 15px;
  text-transform: capitalize;
}
.firstname {
  color: white;
  font-weight: 700;
}

.lastname {
  color: crimson;
  font-weight: 400;
  padding-left: 4px;
}
.table th {
  font-size: 20px;
}
.table th,
.table td {
  text-align: center;
  padding: 10px;
}
.table td {
  font-size: 15px;
}
.wraper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  padding: 15px;
  font-size: 20px;
  background-color: #222;
}
.container {
  width: 99vw;
  height: 100%;
  background-color: lightgray;
}
